@CHARSET "UTF-8";
/* @font-face {
	font-family: noto-medium;
	src: url('../fonts/NotoSansCJKsc-Medium.otf');
}  */
html, body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}


body {
	background-color: rgb(235, 240, 242);
}

footer {
	z-index: 999999999;
	position: relative;
}

a {
	text-decoration:none;
	color: white;
}
.mewtwo-header {
	background-color: #584F60;
	color: white;
}

.mewtwo-footer {
	width: 100%;
	border-top: 1px solid rgb(221, 221, 221);
	background-color: white;
	position: fixed;
	bottom: 0px;
}

.mewtwo-logo {
	letter-spacing: 3px;
	padding: 15px 10px;
}

.mewtwo-clear {
	clear: both;
}

.mewtwo-header .mewtwo-menu.mewtwo-second-menu li.active {
	border-bottom: 2px solid white;
	color: white;
}

.mewtwo-header .mewtwo-menu li {
	padding: 15px 10px;
}

.mewtwo-header .mewtwo-menu.mewtwo-second-menu li {
	padding: 12px 0px;
	
}

#container > section {
	position: absolute;
}

.mewtwo-menu {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.mewtwo-second-menu {
	font-size: 15px
}

.mewtwo-menu li {
	float: left;
}

.mewtwo-menu.mewtwo-menu-avg-3 li {
	padding-left: 0px;
	width: 33.333%
}

.mewtwo-menu.mewtwo-menu-avg-4 li {
	padding-left: 0px;
	width: 25%
}

.mewtwo-menu.mewtwo-menu-avg-4 li.active {
	color: #584F60
}

.mewtwo-navigation .glyphicon {
	color: #999999;
	margin: 0px 0px 0px 15px;
}

#slide-section .mewtwo-section .swiper-slide {
	background-size: 100% 100%;
}

#group-section .mewtwo-swipe-body {
	margin-right:10px;
	height: 0;
	padding-bottom: 100%;
	border:1px solid rgb(244,244,244);
	border-radius: 8px;
	overflow: hidden;
	position: relative;
}

#group-section .mewtwo-swipe-body-header {
	background-size: 100% 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	width:100%;height:0;padding-bottom: 50%;
	z-index: -1;
}

#group-section .mewtwo-swipe-body-title {
	font-weight: blod;
	margin-top:20px;
	color: #584F60;
}

#group-section .mewtwo-swipe-body-people {
	margin-top:3px;
	font-size: 5px;
	color: #999999;
}

#group-section .mewtwo-swipe-body-avatar {
	margin: 30% auto 0px auto;width:45px;height:45px;border-radius: 50px;border: 3px solid white;
	background-size: 100% 100%;
}
.mewtwo-menu li img {
	cursor: pointer;
}

/* .mewtwo-header .mewtwo-menu li:not(:first-child ){
	padding-left:15px;
} */

.mewtwo-section {
	background-color: white;
	margin-bottom: 10px;
	padding: 0px 0px;
}

.mewtwo-section.mewtwo-small-margin{
	margin-bottom: 2px;
}

.mewtwo-image-section {
	min-height:165px;
	background-repeat: no-repeat;
	background-size:100% 100%;
	padding-top: 8px;
}


.mewtwo-menu.mewtwo-menu-avg-3.mewtwo-image-plate li {
	background-color: red;
	width:32%;
	/* padding-bottom: 32%; */
 	height: 32vw;	
 	background-size: 100% 100%;
 	word-wrap:break-word;
 	word-break: break-all;
 	color: white;
 	font-size: 12px;
}


/* .mewtwo-menu.mewtwo-menu-avg-3.mewtwo-image-plate li:after {
  content: '';
  display: block;
  margin-top: 32%; margin 百分比相对父元素宽度计算
}
 */
.mewtwo-image-plate li:not(:LAST-CHILD) {
	margin-right: 2%;
}

.mewtwo-clearfix-bottom {
	margin-bottom: 50px;
}

.mewtwo-image-section .mewtwo-title {
	color: white;
	font-size: 25px;
}

.mewtwo-image-section .mewtwo-title-info {
	color: white;
	font-size: 12px;
	padding: 8px 0px 0px 0px;
}

.mewtwo-image-section .mewtwo-title-message {
	color: white;
	font-size: 12px;
	padding: 35px 0px 0px 0px;
}

.mewtwo-slide {
	width: 100%;
	overflow: hidden;
}

.mewtwo-slide-wrapper {
	overflow: auto;
	overflow-y: hidden;
	padding-bottom: 10px;
}

.mewtwo-slide-inside {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.mewtwo-slide-section {
	float: left;
	margin-right: 10px;
}

.mewtwo-tag {
	position: absolute;
	left: 0px;
	top: 6px;
	background: #48c87b;
	color: white;
	font-size: 10px;
	padding: 3px 10px 3px 5px;
	border-radius: 0px 10px 10px 0px;
}

.mewtwo-nav {
	color: black;
	padding: 12px;
	border-bottom: 1px solid rgba(239, 239, 239, 0.5);
	position: relative;
}

.mewtwo-nav.mewtwo-full-screen {
	padding: 0px 0px;
	margin: 0px 0px;
	border-bottom: none;
	background-color: rgb(235, 240, 242);
}

.mewtwo-section .mewtwo-nav .mewtwo-title {
	font-size: 13px;
	line-height: 19px;
}

.mewtwo-practise-title {
	font-family: "黑体"
}

.mewtwo-offline-activity {
	position:relative;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding-bottom: 40%;
}

.mewtwo-offline-activity:NOT(:FIRST-CHILD){
	margin-top:15px;
}

.mewtwo-offline-activity img{
	width: 100%;
}

.mewtwo-offline-activity-tag {
	position: absolute;
	top: 55%;
	left: 10px;
}

.mewtwo-offline-activity-tag span{
	background-color: white;
	border-radius: 3px;
	padding: 3px 5px;
	color: black;
	font-size: 10px;
}

.mewtwo-offline-activity-title {
	position: absolute;
	top: 75%;
	left: 10px;
}

.mewtwo-offline-activity-title span{
	padding: 3px 5px 3px 0px;
	color: white;
	font-size: 16px;
}
.mewtwo-telnet-avatar {
	width:100%;height:100%;border-radius: 100%;
}

.mewtwo-telnet-info {
	padding-left: 10px;padding-top:2px;overflow: hidden;text-overflow: ellipsis;
}

.mewtwo-telnet-info div{
	font-size:16px;
}

.mewtwo-telnet-info nobr{
	font-size: 12px;color: #999999;padding-top:2px;
}

.mewtwo-telnet-follow {
	border-radius: 15px;padding:0px 7px;border: 1px solid rgb(152,201,186);line-height:25px;font-size: 13px;color: rgb(152,201,186);text-align: center;
}

.mewtwo-center {
	margin: 0px auto;
}

.mewtwo-text-center {
	text-align: center;
}

.mewtwo-text-right {
	text-align: right;
}

.mewtwo-section .mewtwo-nav img {
	vertical-align: initial;
}

.mewtwo-bignum {
	font-size: 30px;
}

.mewtwo-middlenum {
	font-size: 18px;
}

.mewtwo-smallnum {
	font-size: 10px;
}

.mewtwo-littlenum {
	font-size: 8px;
}

.mewtwo-left {
	float: left;
}

.mewtwo-right {
	float: right;
}

.mewtwo-color {
	color: #584F60
}

.mewtwo-color-gray {
	color: #999999
}

.mewtwo-avatar {
	height: 23px;
	width: 23px;
	border-radius: 20px;
	border: 2px solid rgb(33, 199, 137);
}

.mewtwo-level {
	padding-top: 1px;
	font-size: 11px;
}

.mewtwo-text-vcenter li{
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: -o-box;
  -o-box-orient: horizontal;
  -o-box-pack: center;
  -o-box-align: center;
  
  display: -ms-box;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -ms-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.little-gray { 
    -webkit-filter: grayscale(70%);
    -moz-filter: grayscale(70%);
    -ms-filter: grayscale(70%);
    -o-filter: grayscale(70%);
    filter: grayscale(70%);
    filter: gray;
}

header.affix {
	position: fixed;
	width: 100%;
	z-index: 99999;
	top: 0px;
}
.affix-top {
	position: relative;
}

.swiper-container {
    width: 100%;
}  